h1 {
  text-align: center;
  font-size: 60px;
  font-style: italic;
}

html {
  background-color: black;
}

.jumbotron {
  background-image: url('img/space_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: yellow;
  text-shadow: 2px 2px black;
}

body {
  background-image: url('img/solar_system.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
  text-align: center;
  height: 1080px;
}

.well {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}

.form {
  margin-left: 50%;
}

#results {
  display: none;
}

img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  border-collapse: collapse;
  color: black;
  width: 80%;
}

td, th {
  text-align: center;
  padding: 8px;
  padding-right: 20px;
  border-radius: 10px;
  border: solid 2px grey;
}

tr {
  border-radius: 20px;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.75);
}
tr:nth-child(odd) {
  background-color: rgba(200, 200, 200, 0.75);
}

#error {
  background-color: darkred;
  color: red;
  display: none;
}

#cosmos {
  width: 100%;
  opacity: 0.5;
}
